{% load static %}
{% include 'template/header.html' %}
<!DOCTYPE html>
<body>
 <header class="main-header">
        
    
        <nav class="navbar navbar-static-top">

            <div class="navbar-top">

              <div class="container">
                  <div class="row">

                    <div class="col-sm-6 col-xs-12">

                        <ul class="list-unstyled list-inline header-contact">
                            <li> <i class="fa fa-phone"></i> <a href="tel:">+917988856423 </a> </li>
                             <li> <i class="fa fa-envelope"></i> <a href="mailto:klalit434@gmail.com">klalit434@gmail.com</a> </li>
                       </ul> <!-- /.header-contact  -->
                      
                    </div>

                    <div class="col-sm-6 col-xs-12 text-right">

                        <ul class="list-unstyled list-inline header-social">

                            <li> <a href="https://www.facebook.com/profile.php?id=100010209392216"> <i class="fa fa-facebook"></i> </a> </li>
                            <li> <a href="https://twitter.com/Khushpr61713448?s=08"> <i class="fa fa-twitter"></i>  </a> </li>
                            <li> <a href="https://www.youtube.com/channel/UC2V7JDjcyIyuocz-0Aujhzw""> <i class="fa fa-youtube"></i>  </a> </li>
                            <li> <a href="https://www.instagram.com/lalitkumar6612/"> <i class="fa fa-instagram"></i>  </a> </li>
                           
                       </ul> <!-- /.header-social  -->
                      
                    </div>


                  </div>
              </div>

            </div>

            <div class="navbar-main">
              
              <div class="container">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                  </button>
                  
                  <a  href="/index/"><img src="{% static 'assets\images\logo\logo1.jpg' %}" alt="" height="60px" width="100px" style="margin-top:0px;"></a>
                  
                </div>

                <div id="navbar" class="navbar-collapse collapse pull-right">

                  <ul class="nav navbar-nav">

                    <li><a class="is-active" href="/index/">HOME</a></li>
                    <li><a href="/about/">ABOUT</a></li>
                    <li class="has-child"><a href="#">CAUSES</a>

                      <ul class="submenu">
                         <li class="submenu-item"><a href="/causes/">Causes list </a></li>
                         <li class="submenu-item"><a href="/causessingle/">Our Beliefs </a></li>
                      </ul>

                    </li>
                    <li><a href="/gallery/">GALLERY</a></li>
                    <li><a href="/contact/">CONTACT</a></li>
                    <li><a href="/registration/">REGISTER</a></li>
                    <li><a href="/login/">LOGIN</a></li>

                  </ul>

                </div> <!-- /#navbar -->

              </div> <!-- /.container -->
              
            </div> <!-- /.navbar-main -->


        </nav> 
		

    </header> <!-- /. main-header -->   
<br>
<br>
<br>
<br>
<br>
<h1><center>{{abc}}</h1></center>
<br>
<br>
<br>
<br>
<br>
{% include 'template/userfooter.html' %}