{% load static %}
{% include 'template/header.html' %}
<!DOCTYPE html>

    <body>
    <!-- NAVBAR
    ================================================== -->

    <header class="main-header">
        
    
        <nav class="navbar navbar-static-top">

            <div class="navbar-top">

              <div class="container">
                  <div class="row">

                    <div class="col-sm-6 col-xs-12">

                        <ul class="list-unstyled list-inline header-contact">
                            <li> <i class="fa fa-phone"></i> <a href="tel:">+23245569 </a> </li>
                             <li> <i class="fa fa-envelope"></i> <a href="mailto:klalit434@gmail.com">klalit434@gmail.com</a> </li>
                       </ul> <!-- /.header-contact  -->
                      
                    </div>

                    <div class="col-sm-6 col-xs-12 text-right">

                        <ul class="list-unstyled list-inline header-social">

                            <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-twitter"></i>  </a> </li>
                            <li> <a href="#"> <i class="fa fa-youtube"></i>  </a> </li>
                            <li> <a href="#"> <i class="fa fa-instagram"></i>  </a> </li>
                           
                       </ul> <!-- /.header-social  -->
                      
                    </div>


                  </div>
              </div>

            </div>

            <div class="navbar-main">
              
              <div class="container">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                  </button>
                  
                  <a class="navbar-brand" href="index.html"><img src="{% static 'assets\images\logo\logo1.jpg' %}" alt="" height="40px" width="100px" style="margin-top:0px;"></a>
                  
                </div>

                <div id="navbar" class="navbar-collapse collapse pull-right">

                  <ul class="nav navbar-nav">

                    <li><a href="/index/">HOME</a></li>
                    <li><a class="is-active"  href="/about/">ABOUT</a></li>
                    <li class="has-child"><a href="#">CAUSES</a>

                      <ul class="submenu">
                         <li class="submenu-item"><a href="/causes/">Causes list </a></li>
                         <li class="submenu-item"><a href="/causessingle/">Our Beliefs </a></li>
                      </ul>

                    </li>
                    <li><a href="/gallery/">GALLERY</a></li>
                    <li><a href="/contact/">CONTACT</a></li>
                    <li><a href="/registration/">REGISTER</a></li>
                    <li><a href="/login/">LOGIN</a></li>

                  </ul>

                </div> <!-- /#navbar -->

              </div> <!-- /.container -->
              
            </div> <!-- /.navbar-main -->


        </nav> 

    </header> <!-- /. main-header -->


	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">ABOUT US <span class="title-under"></span></h1>
			<p class="page-description">
				Supporting Orphans to have a better quality of life
			</p>
			
		</div>

	</div>

	<div class="main-container">

		<div class="container">

			<div class="row fadeIn animated">

				<div class="col-md-6">

					<img src="{% static 'assets/images/about-us.jpg' %}" alt="" class="img-responsive">

				</div>

				<div class="col-md-6">

					<h2 class="title-style-2">ABOUT ORPHAN CHILDREN HOME <span class="title-under"></span></h2>

					<p><h3></br>
						<center><b>Supporting orphans 
						while bringing about sustainable change that reduces the need for orphanages</center></b>		</h3></p></br>

					<p>
						Orphan Children Home is an  nonprofit organization for children, headquartered in Biroke Kalan.					</p>

					<p>
						We mainstreaming the Orphan, Semi Orphan and Street children in the national building by providing care, support & protection through shelter, food is our mission.					</p>

					<p>
						We care for orphan children who are struggling with Mental Health and 
						Behavioral Concerns. Our programs and individualized
						services provide healing, hope and opportunity for children.					</p>

					<p>
We seek to provide a place where children can grow in a nurturing, peaceful environment. 
We provide the children with 3 healthy meals a day from a menu designed 
by a nutritionist to meet the needs of our many children who arrive at the orphanage malnourished
 and underweight. We provide quality health care,
 clothing and a clean and safe environment where our children can thrive.
					</p>
					
				</div>

			</div> <!-- /.row -->
			

			<div class="section-home about-us">


			            <div class="row">

			                <div class="col-md-3 col-sm-6">
			                
			                  <div class="about-us-col">

			                        <div class="col-icon-wrapper">
			                          <img src="{% static 'assets/images/icons/our-mission-icon.png' %}" alt="">
			                        </div>
			                        <h3 class="col-title">our mission</h3>
			                        <div class="col-details">

			                          <p>WE RESCUE, TRAIN AND SUSTAIN STRUGGLING CHILDREN’S HOMES.
									  Mainstreaming the Orphan, Semi Orphan and Street children by providing care, 
									  support through shelter, food, and care is our mission.

										</p>
			                          
			                        </div>
			                        
			                    
			                  </div>
			                  
			                </div>


			                <div class="col-md-3 col-sm-6">
			                
			                  <div class="about-us-col">

			                        <div class="col-icon-wrapper">
			                          <img src="{% static 'assets\images\icons\make-donation-icon.png" alt="">
			                        </div>
			                        <h3 class="col-title">Make donations</h3>
			                        <div class="col-details">

			                          You can make an difference.</br><p>
									  Your one time donation will help a child to thrive.
									  Fundraising for Orphan Home helps find loving families for orphaned children. 
									  Every donation makes a genuine difference.</p>
			                          
			                        </div>
			                       
			                    
			                  </div>
			                  
			                </div>


			                <div class="col-md-3 col-sm-6">
			                
			                  <div class="about-us-col">

			                        <div class="col-icon-wrapper">
			                          <img src="{% static 'assets/images/icons/help-icon.png' %}" alt="">
			                        </div>
			                        <h3 class="col-title">Help & support</h3>
			                        <div class="col-details">

			                          <p>Helping create miracle.</b>
									  Real happiness and peace lie when our efforts and contributions lead to helping others. 
									  Dedicate a percentage of the profits of your business each month to Families for Orphans</p>
			                          
			                        </div>
			                        
			                    
			                  </div>
			                  
			                </div>


			                <div class="col-md-3 col-sm-6">
			                
			                  <div class="about-us-col">

			                        <div class="col-icon-wrapper">
			                          <img src="{% static 'assets/images/icons/programs-icon.png' %}" alt="">
			                        </div>
			                        <h3 class="col-title">our programs</h3>
			                        <div class="col-details">

			                          <p>Ensuring every child has an opportunity to find a home.
									  Our work in the past was grounded in helping orphans in need to have a better quality of life but has evolved to also ensure that every child has an opportunity to grow up in a family. 
									 </p>
			                          
			                        </div>
			                        
			                    
			                  </div>
			                  
			                </div>
			                

			                
			            </div> <!-- /.row -->

			      
			    </div> 

		</div> <!-- /.about-us -->


	    <div class="our-team animate-onscroll fadeIn">

	        <div class="container">

	            <h2 class="title-style-1">Our Team <span class="title-under"></span></h2>

	            <div class="row">

	                <div class="col-md-3 col-sm-6">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="{% static 'assets\images\logo\founder2.jpeg' %}" alt="" class="cause-img" height="50%" width="50%">
	                            
	                        </div>



	                        <h4 class="member-name">Lalit Kumar Yadav</h4>

	                        <div class="member-position">
	                            CO-FOUNDER
	                        </div>

	                        <div class="btn-holder">

	                         klalit434@gmail.com
	                        </div>

	                        

	                    </div> <!-- /.team-member -->
	                    
	                </div>

	                <div class="col-md-3 col-sm-6">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="{% static 'assets\images\logo\founder8.jpeg' %}" alt="" class="cause-img" height="50%" width="50%">
	                            
	                        </div>



	                        <h4 class="member-name">Parwinder Sarao</h4>

	                        <div class="member-position">
	                            CO-FOUNDER
	                        </div>

	                        <div class="btn-holder">

	                          parwindsaroa@gmail.com
	                          
	                        </div>

	                        

	                    </div> <!-- /.team-member -->
	                    
	                </div>


	                <div class="col-md-3 col-sm-6">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="{% static 'assets\images\logo\founder23.jpeg' %}" alt="" class="cause-img" height="50%" width="50%">
	                            
	                        </div>



	                        <h4 class="member-name">Nimar Brar</h4>

	                        <div class="member-position">
	                            CO-FOUNDER
	                        </div>

	                        <div class="btn-holder">

	                         braur645@gmail.com 
	                        </div>

	                        

	                    </div> <!-- /.team-member -->
	                    
	                </div>


	                <div class="col-md-3 col-sm-6">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="{% static 'assets\images\logo\founder44.jpeg' %}" alt="" class="cause-img">
	                            
	                        </div>



	                        <h4 class="member-name">Anju Atkan</h4>

	                        <div class="member-position">
	                            CO-FOUNDER
	                        </div>

	                        <div class="btn-holder">

	                         anju4286@gmail.com
	                          
	                        </div>

	                        

	                    </div> <!-- /.team-member -->
	                    
	                </div>

	            </div> <!-- /.row -->

	        </div>

	    </div>
		


	</div>
{% include 'template/footer.html' %}

    