{% load static %}
{% include 'template/adminheader.html' %}
{% include 'template/adminmenu.html' %}

<!DOCTYPE html>

<style>
.userimg{
		height:50%;
		width:100%;	
		position:relative;
		margin-left:5px;
		margin-top:-10px;
}
</style>


    <!-- Carousel
    ================================================== -->
    <div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">

           <div class="carousel-inner" role="listbox">

            <div class="item active">
			

              <img src="{% static 'assets/images/admin.jpg' %}" alt="" class="userimg"/>
					<div class="carousel-caption">
				<marquee  direction="right" scrollamount="20"><h1 class="carousel-title bounceInDown animated slow"><font face="Algerian" ><b><u> ORPHAN CHILDREN HOME</u></b></font></h1></br></br></br></marquee></br></br></br>
<h1 class="carousel-title bounceInDown animated slow"><font face="Algerian" ><b>WELCOME ADMIN {{username}}</b></font></h1></br></br>
                  </font>
					</div>

		
                  
				 

                </div> <!-- /.carousel-caption -->

              </div>

            </div>

   </div>
</div>
</br>
</br>
</br>
</br>
 <div class="section-home about-us fadeIn animated">

        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">
                
                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="{% static 'assets/images/icons/our-mission-icon.png' %}" alt="">
                        </div>
                        <h3 class="col-title">our mission</h3>
                        <div class="col-details">
						                          <p>WE RESCUE, TRAIN AND SUSTAIN STRUGGLING CHILDREN’S HOMES.
									  Mainstreaming the Orphan, Semi Orphan and Street children by providing care, 
									  support through shelter, food, and care is our mission.

										</p>
                    </div>
                  </div>
                  
                </div>


                <div class="col-md-3 col-sm-6">
                
                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="{% static 'assets/images/icons/make-donation-icon.png' %}" alt="">
                        </div>
                        <h3 class="col-title">Make donations</h3>
                        <div class="col-details">

                           You can make an difference.</br><p>
									  Your one time donation will help a child to thrive.
									  Fundraising for Orphan Home helps find loving families for orphaned children. 
									  Every donation makes a genuine difference.</p>
						</div>
                  </div>
                  
                </div>


                <div class="col-md-3 col-sm-6">
                
                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="{% static 'assets/images/icons/help-icon.png' %}" alt="">
                        </div>
                        <h3 class="col-title">Help & support</h3>
                        <div class="col-details">
<p>Helping create miracle.</b>
									  Real happiness and peace lie when our efforts and contributions lead to helping others. 
									  Dedicate a percentage of the profits of your business each month to Families for Orphans</p>
						</div>
                  </div>
                  
                </div>


                <div class="col-md-3 col-sm-6">
                
                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="{% static 'assets/images/icons/programs-icon.png' %}" alt="">
                        </div>
                        <h3 class="col-title">our programs</h3>
                        <div class="col-details">

                          <p>Ensuring every child has an opportunity to find a home.
									  Our work in the past was grounded in helping orphans in need to have a better quality of life but has evolved to also ensure that every child has an opportunity to grow up in a family. 
									 </p>
						</div>
                    
                  </div>
                  
                </div>
                

                
            </div>

        </div>
      
    </div> <!-- /.about-us -->
    <div class="section-home home-reasons">

        <div class="container">

            <div class="row">
                
                <div class="col-md-6">

                    <div class="reasons-col animate-onscroll fadeIn">

                        <img src="{% static 'assets/images/reasons/we-fight-togother.jpg' %}" alt="">

                        <div class="reasons-titles">

                            <h3 class="reasons-title">We fight together</h3>
                            <h5 class="reason-subtitle">We are humans</h5>
                            
                        </div>

                        <div class="on-hover hidden-xs">
                            



                                
                        </div>
                    </div>
                    
                </div>


                <div class="col-md-6">

                    <div class="reasons-col animate-onscroll fadeIn">

                        <img src="{% static 'assets/images/reasons/we-care-about.jpg' %}" alt="">

                        <div class="reasons-titles">

                            <h3 class="reasons-title">WE care about others</h3>
                            <h5 class="reason-subtitle">We are humans</h5>
                            
                        </div>

                        <div class="on-hover hidden-xs">
                            



                                
                        </div>


                    </div>
                    
                </div>


            </div>
          
  

        </div>
    <div class="section-home our-causes animate-onscroll fadeIn">

        <div class="container">

            <h2 class="title-style-1">Our Causes <span class="title-under"></span></h2>

            <div class="row">

                <div class="col-md-3 col-sm-6">

                    <div class="cause">

                        <img src="{% static 'assets/images/causes/cause-hunger.jpg' %}" alt="" class="cause-img">

                        <div class="progress cause-progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                            100/ 500
                          </div>
                        </div>

                        <h4 class="cause-title"><a href="#">HUNGER AND POVERTY </a></h4>
                        <div class="cause-details">
						Poverty is believed to be the leading cause of orphaned children around the world.Losing a parent can negatively impact a child’s access to food, shelter, education and healthcare. 

                        </div>

                        <div class="btn-holder text-center">

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>
                          
                        </div>

                        

                    </div>
<!-- /.cause -->
                    
                </div> 

                <div class="col-md-3 col-sm-6">

                    <div class="cause">

                        <img src="{% static 'assets/images/causes/cause-education.jpg' %}" alt="" class="cause-img">

                        <div class="progress cause-progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            400 / 700
                          </div>
                        </div>

                        <h4 class="cause-title"><a href="#">EDUCATION AND TRAINING</a></h4>
                        <div class="cause-details">
                        Education is the key to ending the world’s orphan crisis.providing the resources (financial and supplies) that help orphans gain access to educational services.                        

                        </div>

                        <div class="btn-holder text-center">

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>
                          
                        </div>

                        

                    </div> <!-- /.cause -->
                    
                </div>


                <div class="col-md-3 col-sm-6">

                    <div class="cause">

                        <img src="{% static 'assets/images/causes/cause-rights.jpg' %}" alt="" class="cause-img">

                        <div class="progress cause-progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                            400 / 1000
                          </div>
                        </div>

                        <h4 class="cause-title"><a href="#">HUMAN RIGHTS</a></h4>
                        <div class="cause-details">
The orphans need help around the world to insure that 
						they are granted the rights that all humans deserve. 
						Their rights include clothing, food, shelter, and education.So that the orphans can grow and develop,
						both physically and mentally.
                        </div>

                        <div class="btn-holder text-center">

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>
                          
                        </div>

                        

                    </div> <!-- /.cause -->
                    
                </div>

                <div class="col-md-3 col-sm-6">

                    <div class="cause">

                        <img src="{% static 'assets/images/causes/cause-culture.jpg' %}" alt="" class="cause-img">

                        <div class="progress cause-progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            400 / 700
                          </div>
                        </div>

                        <h4 class="cause-title"><a href="#">ARTS AND CULTURE </a></h4>
                        <div class="cause-details">
	Imparting life skills through arts education is considered to be of great 
						value to the orphan children.Life skills are essentially 
						those abilities that help promote mental well-being and competence as they
face the realities of life.
                        </div>

                        <div class="btn-holder text-center">

                          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>
                          
                        </div>

                        

                    </div> <!-- /.cause -->
                    
                </div>

            </div>

        </div>
        
    </div> <!-- /.our-causes -->

    




    <div class="section-home our-sponsors animate-onscroll fadeIn">
    
        <div class="container">

            <h2 class="title-style-1">Our Sponsors <span class="title-under"></span></h2>

            <ul class="owl-carousel list-unstyled list-sponsors">

               <li> <img src="{% static 'assets/images/sponsors/church.png' %}" alt=""></li>
              <li> <img src="{% static 'assets\images\sponsors\infowiz.jpg' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/gurudwara.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/gurunanak.jpg' %}" alt=""></li>
              <li> <img src="{% static 'assets\images\sponsors\sophiya.jpg' %}" alt=""></li>

              <li> <img src="{% static 'assets/images/sponsors/church.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/infowiz.jpg' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/gurudwara.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/gurunanak.jpg' %}" alt=""></li>
              <li> <img src="{% static 'assets\images\sponsors\sophiya.jpg' %}" alt=""></li>

            </ul>

        </div>

    </div> <!-- /.our-sponsors -->
	
	
	<!-- Donate Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
          </div>
          <div class="modal-body">

                <form class="form-donation">

                        <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>  </h3>

                        <div class="row">

                            <div class="form-group col-md-12 ">
                                <input type="text" class="form-control" id="amount" placeholder="AMOUNT(€)">
                            </div>

                        </div>


                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="firstName" placeholder="First name*">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="lastName" placeholder="Last name*">
                            </div>
                        </div>


                        <div class="row">

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="email" placeholder="Email*" required="required">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="phone" placeholder="Phone" required="required">
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" name="address" placeholder="Address">
                            </div>

                        </div>


                        <div class="row">

                            <div class="form-group col-md-12">
                                <textarea cols="30" rows="4" class="form-control" name="note" placeholder="Additional note"></textarea>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" name="donateNow" >DONATE NOW</button>
                            </div>

                        </div>



                       
                    
                </form>
            
          </div>
        </div>
      </div>

    </div> <!-- /.modal -->
</div>


    <!--  Scripts
    ================================================== -->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"><\/script>')</script>

    <!-- Bootsrap javascript file -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    
    <!-- owl carouseljavascript file -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

    <!-- Template main javascript -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    </body>
</html>
{% include 'template/adminfooter.html' %}





