{% load static %}
{% include 'template/userheader.html' %}
{% include 'template/usermenu.html' %}
<!DOCTYPE html>




	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">Here, you can change the password <span class="title-under"></span></h1>
	
			
		</div>

	</div>
	
	<div class="main-container fadeIn animated">

		<div class="container">

			<div class="row">

				<div class="col-md-7 col-sm-12 col-form">

					<h2 class="title-style-2">Change Password<span class="title-under"></span></h2>
					
					{% for x in all %}
					<form action="/changepassword1/" method="post"  class="contact-form">
					{% csrf_token %}
						<div class="row">
							<div class="form-group col-md-6">
							Current Password
							<input type="text" class="form-control" name="t1"   placeholder="current password*"  required="required">
							<input type="hidden" class="form-control" name="t11" value="{{x.email}}">
							</div>
						</div>
					<div class="row">
							<div class="form-group col-md-6">
							New Password
							<input type="password" class="form-control" name="t2" placeholder="New Password*">
							</div>
					</div>
					

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Change</button>
                        </div>
						



					</form>
					
			{% endfor %}

				<font color="green">{{ abc }}</font>

					
					
				</div>


			</div> <!-- /.row -->


		</div>
		


	</div>

	
{% include 'template/userfooter.html' %}


